{% extends 'layout.html' %}

{% block content %}
<div>
    <div class="container">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="current_password">Current Password:</label>
            <input type="password" name="current_password" id="current_password">
        </div>
        <div>
            <label for="new_password">New Password:</label>
            <input type="password" name="new_password" id="new_password">
        </div>
        <div>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <button type="submit">Change Password</button>
    </form>
    </div>
</div>
{% endblock %}