{% extends 'layout.html' %}

{% block content %}

<style>
.container {
    padding-top: 30px; /* 增加页面上边距 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 垂直居中 */
    text-align: center; /* 将容器内的内容居中 */
}

.panel {
    max-width: 500px; /* 设置最大宽度 */
    width: 100%; /* 设置宽度为100%，让其在父容器中居中 */
}

.panel-title {
    font-size: 35px; /* 设置标题字体大小 */
    margin-bottom: 20px; /* 设置标题下方间距 */
}

.panel-body {
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 垂直方向排列 */
    align-items: center; /* 水平居中 */
    margin-bottom: 20px; /* 设置 panel-body 底部间距 */
}

.form-group {
    margin: 30px; /* 调整表单组件之间的间距 */
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中 */
}


input[type="text"] {
    width: 300px; /* 缩小输入框长度 */
    border: 2px solid #000000; /* 添加边框 */
    border-radius: 10px; /* 圆角 */
    padding: 8px; /* 调整内边距 */
}

input[type="text"]:hover {
    border-color: #45a049; /* 鼠标悬停时边框颜色改变 */
}

button[type="submit"] {
    margin-top: 20px; /* 将保存按钮下移 */
    border: 2px solid #4CAF50; /* 添加边框 */
    background-color: #4CAF50; /* 设置背景颜色 */
    color: white; /* 设置文字颜色 */
    padding: 8px 20px; /* 调整内边距 */
    border-radius: 10px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停样式 */
}

button[type="submit"]:hover {
    background-color: #0f5132; /* 鼠标悬停时背景颜色改变 */
}
.label {
    width: 200px; /* 设置标签的固定宽度 */
    font-size: 18px; /* 设置标签字体大小 */
}
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">修改部门</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %} <!--使用post方法必须要写这个，不然报错403-->
                <div class="form-group">
                    <label>标题:&nbsp;&nbsp;</label>
                    <input type="text" class="form-control" placeholder="标题" name="title" value="{{ row_object.title }}">
                </div>
                <button type="submit" class="btn btn-primary">保 存</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
