{% extends 'user_layout.html' %}

{% block content %}
<style>
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 使容器在垂直方向上居中 */
}

.form-container {
    padding: 20px; /* 增加内边距 */
    text-align: center; /* 将容器内的内容居中 */
    border: 2px solid #ccc; /* 添加边框 */
    border-radius: 10px; /* 添加圆角 */
    background-color: #f9f9f9; /* 添加背景颜色 */
}

.form-group {
    margin: 20px 0; /* 在每个标签之间增加垂直方向上的间距 */
}

label {
    width: 100px; /* 设置标签的固定宽度 */
    display: inline-block; /* 使标签占据一行 */
}

input[type="password"] {
    width: 300px; /* 设置输入框的宽度 */
    padding: 5px; /* 设置输入框的内边距 */
    border: 2px solid #ddd; /* 设置输入框的边框 */
    border-radius: 5px; /* 设置输入框的圆角 */
}

button[type="submit"] {
    border: 1px solid #000000; /* 设置按钮的边框 */
    background-color: #ffffff; /* 设置按钮的背景颜色 */
    color: black; /* 设置按钮文字颜色 */
    padding: 5px 10px; /* 设置按钮的内边距 */
    border-radius: 5px; /* 设置按钮的圆角 */
    cursor: pointer; /* 添加光标悬停样式 */
    height: auto; /* 确保高度为自动调整 */
}

button[type="submit"]:hover {
    border-color: #0a58ca; /* 设置按钮悬停时的边框颜色 */
    color: #0a58ca; /* 设置按钮悬停时的文字颜色 */
}
</style>

    <div class="container">
        <div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="current_password">当前密码:</label>
            <input type="password" name="current_password" id="current_password">
        </div>
        <div class="form-group">
            <label for="new_password">新密码: </label>
            <input type="password" name="new_password" id="new_password">
        </div>
        <div class="form-group">
            <label for="confirm_password">确认密码:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <button type="submit">修改</button>
    </form>
    </div>
</div>
{% endblock %}