{% extends 'user_layout.html' %}

{% block content %}
<style>
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 使内容在垂直方向上居中 */
}

.container {
    padding: 20px; /* 增加容器的内边距 */
    text-align: center; /* 将容器内的内容居中 */
}

.form-group {
    margin: 70px 0; /* 在每个标签之间增加垂直方向上的间距 */
}
label {
    width: 200px; /* 设置标签的固定宽度 */
    display: inline-block; /* 使标签占据一行 */
}

input {
    flex: 2; /* 输入框会占据其容器的可用空间 */
}
button[type="submit"] {
    border: 2px solid #4CAF50; /* 设置按钮的边框 */
    background-color: #4CAF50; /* 设置按钮的背景颜色 */
    color: white; /* 设置按钮文字颜色 */
    padding: 10px 20px; /* 设置按钮的内边距 */
    border-radius: 20px; /* 设置按钮的圆角 */
    cursor: pointer; /* 添加光标悬停样式 */
}

button[type="submit"]:hover {
    background-color: #0f5132; /* 设置按钮悬停时的背景颜色 */
}
input[type="password"] {
    border: 2px solid #000000; /* 设置输入框的边框 */
    border-radius: 10px; /* 设置输入框的圆角 */
    padding: 6px; /* 设置输入框的内边距 */
}

input[type="password"]:hover {
    border-color:#4CAF50; /* 设置输入框悬停时的边框颜色 */
}
</style>
<div class="center-content">
    <div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="current_password">当前密码:</label>
            <input type="password" name="current_password" id="current_password">
        </div>
        <div class="form-group">
            <label for="new_password">新密码: </label>
            <input type="password" name="new_password" id="new_password">
        </div>
        <div class="form-group">
            <label for="confirm_password">确认密码:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <button type="submit">修改</button>
    </form>
    </div>
</div>

{% endblock %}