{% extends 'user_layout.html' %}

{% block content %}
<meta charset="UTF-8">
<style>
    .container {
        padding: 20px;
    }

    .panel-heading {
        background-color: #337ab7;
        color: #fff;
        padding: 10px 15px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .panel-heading h1 {
        margin: 0;
    }

    .btn-primary {
        background-color: coral;
        border-color: #337ab7;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        color:black;
    }

    .btn-primary:hover {
        background-color: greenyellow;
        border-color: #286090;
        color:cornflowerblue;/**/
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tbody tr:hover {
        background-color: #f5f5f5;
    }

    .status-circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .status-active {
        background-color: #28a745; /* 绿色 */
    }
    .status-resigned {
        background-color: #ffc107; /* 黄色 */
    }
    .status-dismissed {
        background-color: #dc3545; /* 红色 */
    }
    .status-retired {
        background-color: #6c757d; /* 灰色 */
    }
    .status-transferred {
        background-color: #17a2b8; /* 蓝色 */
    }
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <h1><b>用户列表</b></h1>
            <a class="btn btn-primary" href="/userinfo/edit/">编辑</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>工号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>基础工资</th>
                <th>学历</th>
                <th>婚姻状况</th>
                <th>入职时间</th>
                <th>职称</th>
                <th>部门</th>
                <th>岗位</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.get_sex_display }}</td>
                <td>{{ obj.age }}</td>
                <td>{{ obj.salary }}</td>
                <td>{{ obj.degree }}</td>
                <td>{{ obj.get_marriage_display }}</td>
                <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                <td>{{ obj.jobtitle }}</td>
                <td>{{ obj.depart.title }}</td>
                <td>{{ obj.post }}</td>
                <td>
                    <span class="status-circle
                        {% if obj.condition == 0 %}status-active
                        {% elif obj.condition == 1 %}status-resigned
                        {% elif obj.condition == 2 %}status-dismissed
                        {% elif obj.condition == 3 %}status-retired
                        {% elif obj.condition == 4 %}status-transferred
                        {% endif %}
                    "></span>{{ obj.get_condition_display }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
